.column{
    float: left;
    width: 20%;
    padding: 30px;
    font-family: sans-serif;
    font-size: 0.9em;
}

.column p {
    color:grey;
    line-height: 1.6;
}

hr{
    color: rgba(238, 225, 225, 0.664);
}

.column td {
    color:rgb(58, 141, 58);
}

#photos td{
    padding-right: 5px;
    padding-bottom: 5px;
}

#squarecorners{
    border: 2px solid gray;
    padding: 20px 0px 15px 43px;
}
