body{
    margin: 0;
}

.top{
    height: 40px;
}

.phone{
    position: relative;
    left: 3%;
    font-size: smaller;
    color: darkgray;
    height: 40px;
    font-family: Helvetica;
    text-align: right;
}

#phonesymbol{
    position: relative;
    left: 3%;
    font-size: 20px;
    color: transparent;
    text-shadow: 0 0 0 rgb(168, 168, 168);
}

.phone a{
    color: rgb(119, 112, 112);
    font-size: medium;
    font-family: none;
    text-decoration: none;
}

.cart{
    position: relative;
    left: 240%;
    font-size: medium;
    color: rgb(119, 112, 112);
    height: 40px;
}

#cartsymbol a{
    position: relative;
    left: 3100%;
    font-size: 20px;
    color: transparent;
    text-shadow: 0 0 0 rgb(168, 168, 168);
}

.cart a{
    color: darkgray;
    font-size: smaller;
    text-decoration: none;
    font-family: Helvetica;
}

.logo{
    position: relative;
    left: 150%;
    height: 40px;
}

.down{
    height: 20px;
}

.menu nav ul{
    text-align: center;
	padding:18px 0;
    font-size: 1em;
    font-family: Helvetica;
}

.menu nav ul li{
    float: none;
    display: inline-block;
    margin: 0 50px;
}

.menu nav ul li a{
    float: none;
    display: inline-block;
    margin: 0 0px;
    color: black;
    text-decoration: none;
    font-family: Helvetica;
}