#title{
    margin-top: 3%;
    text-align: center;
    font-family: Lato,Pacifico,cursive;
    font-size: 1.8em;
}

#producttable{
    font-size: 1.4em;
    color: grey;
    margin: auto;
    margin-top: 5%;
}

#producttablehead{
    background-color: #79cba8;
    height:60px;
    font-family: Lato,Pacifico,cursive;
    color: #fff;
}

#producttablebody:before {
    content: "$";
    display: block;
    line-height: 1.2em;
    color: transparent;
}

#producttablebody td:before {
    content: "$";
    display: block;
    line-height: 1.3em;
    color: transparent;
}

#producttablehead td{
    width:190px;
    text-align:center;
    padding:5px 
}

#producttablebody td{
    width:190px;
    text-align:center;
    padding:5px;
    font-family:Lato,sans-serif;
    font-size: 18px;
    background-color: hsla(0,0%,96.5%,.6);
    padding-bottom: 20px;
}

#updatebutton{
    padding: 10px;
    width: 100px;
    color: white;
    background-color: #79cba8;
    font-weight: bold;
    font-size: medium;
    border: none;
    border-radius: 5px;
}

input[type=password]{
    height:30px;
    width: 235px;
    border: 1px solid rgb(177, 174, 174);
    color: grey;
}

textarea{
    border: 1px solid rgb(177, 174, 174);
    color: grey;
}

#heading{
    margin-top: 20;
    margin-left: -10px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #fff;
    border-bottom: none;
    font-family: Lato,Pacifico,cursive;
    font-size: 28px;
    line-height: 2em;
    color: black;
    font-weight: 700;
}

#productstable thead td{
    background-color: #79cba8;
    height:60px;
    font-family: Lato,Pacifico,cursive;
    color: #fff;
}
 
#productstable {
    font-size: 1.4em;
    color: grey;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 1.5%;
}
 
#productstable thead::after{
    content:"@";
    display:block; 
    line-height:1.2em;
    text-indent:-99999px; 
}
 
#productstable tbody tr td hr{
    border-top: 0px solid #dadada;
    margin-top: 0;
}
 
#productstable tbody td{
    width: 160px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Lato,sans-serif;
    background-color: hsla(0,0%,96.5%,.6);
}

textarea { 
    resize: none; 
}

.productslist{
    list-style-type:none;
}