#main{
    margin-top: 7%;
}

#mainright{
    font-family: work-Sans,sans-serif;
    font-size: 1.3em;
}

img{
    margin-top: -0%;
}

#left{
    float: left;
    border-radius: 15px;
    margin-left: 20%;
    height: 420px;
    width: 430px;
    color: #fff;
    text-align: center;
    background-color: #40a944;
    font-size: 20px;
    line-height: 1.8;
    font-family: work-Sans,sans-serif;
}

#left h3{
    font-weight: 600;
    font-size: 28px;
}

#right{
    float: right;
    padding: 17.5px;
    font-family:  sans-serif;
    font-size: 0.9em;
    line-height: 1.6;
    margin-right: 14.43%;
    height: 20px;
}

input[type=text]{
    height: 40px;
    padding: 4px;
    border: solid thin#f4eede;
    color: grey;
    border-radius: 15px;
}

input[type=password]{
    height: 40px;
    padding: 4px;
    border-radius: 15px;
    border: solid thin #f4eede;
   
}

#button{
    padding: 15px;
    width: 150px;
    color: white;
    border:none;
    border-radius: 15px;
    background-color: #40a944;
    font-size: 1.5em;
}

#required::after{
    content: " *";
    color: red;
}

span{
    color: red;
}

#session td {
    font-family: work-Sans,sans-serif;
    font-size: 1.3em;
    color: red;
}