
        <link rel="stylesheet" type="text/css" href="assests/css/header.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap" rel="stylesheet">
        <div class="top"></div>
        <table id="header">
            <tr>
                <td class="phone">
                    CALL US NOW<br>
                    <a href="#">0123-88-89-0999</a>
                </td>
                <td id="phonesymbol">&#128222</td>
                <td id="cartsymbol"><a href="cart.php">&#128722</a></td>
                <td class="cart">
                    <a href="cart.php">MY CART</a><br>
                    $0.00<br>
                </td>
            </tr>
            <tr>
                <td class="logo"><a href="home.php"><img src="assests/images/header/logo.png"></a></td>
            </tr>    
        </table>
        <div class="down"></div>
        <div class="menu">
            <nav>
                <ul>
                    <li>HOME</li>
                    <li>OUR STORY</li>
                    <li>SHOP</li>
                    <li>BOXES</li>
                    <li>BLOGS</li>
                    <li>CONTACT</li>
                </ul>
            </nav>
        </div>
