body{
    margin: 0;
    font-family: work-Sans,sans-serif;
    font-size: 18px;
}

#right{
    margin-left:250px;
    height: 600px;
    width: 1000px;
    padding: 10px 50px 20px 50px;
}

#productstable {
    border-top: 0; 
    padding-top: 0;
    padding: .75rem;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
}   

#productstable thead tr td{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

#productstable thead::after{
    content:"@";
    display:block; 
    line-height:20px;
    text-indent:-99999px; 
}

#productstable tbody tr td hr{
    border-top: 0px solid #dadada;
}

#productstable tbody td{
    width: 250px;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

#tableimage{
    width:100px;
    height:140px;
    padding: -10px;
    border: 2px solid #f4eede;
}

#heading{
    margin-top: 20;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 22px;
    background-color: #fff;
    border-bottom: none;
}
